# gedit autosaved files
*~

# Test txt list of image urls
image_urls.txt

# Test txt list of non-image urls
non_image_urls.txt

# Downloaded image folder
/images/

# Test text file
transcript-5815609.txt

# PyCharm files
.idea

# Test html file to parse
test.html
